{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create Exoplanet Filter{% endblock title %}

{% block content %}
<br>
<div class="container">
    <h2>Exoplanet Filter</h2>
    <p>The fields on this form allow the Exoplanet subsystem to work on a subset of the overall Exoplanet database, ignoring any records outside 
        the parameters for calculations of rise/transit/set and transit dates</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock content %}