{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Schedules List{% endblock title %}
{% block content %}
<div class="container">
    <br><br>
    <H2>Schedules</H2>
    <table class="table table-dark">
        {% for scheduleMaster in scheduleMaster_list %}
            {% if forloop.first %}
                <tr><th>Date</th><th>User</th><th>Observatory</th><th>Telescope</th><th>Imager</th></tr>
                {% endif %}    
            <tr><td><A HREF="{{ scheduleMaster.get_absolute_url }}">{{ scheduleMaster.scheduleDate }}</A></td>
                <td>{{ scheduleMaster.userId }}</td>
                <td>{{ scheduleMaster.observatoryId }}</td>
                <td>{{ scheduleMaster.telescopeId }}</td>
                <td>{{ scheduleMaster.imagerId }}</td>
            </tr>
        {% empty %}
            <p><i>No results found.</i></p>
        {% endfor %}
    </table>
    </div>
{% endblock content %}