{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Targets List{% endblock title %}
{% block content %}
<div class="container">
    <br><br>
    <h2>Search for Targets</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="text" class="form-control" name="search_term" placeholder="Enter search term">
         <button type="submit" class="btn btn-primary">Search</button>
        </form><br><br>
         <p><b>Wildcard Queries</b><br>
          Enter one of the following for wilcard queries:</P>
         <Table>
            <tr><td>*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>Any string of characters (including an empty one)</td></tr>
            <tr><td>[^0-9]</td><td>Any (one) character not in the list.</td></tr>
            <tr><td>?</td><td>Any character (exactly one character)</td></tr>
            <tr><td>[abc]</td><td>Exactly one character taken in the list. Can also be defined by a range of characters: [A-Z]</td></tr>
         </table><br>

         <p><b>NOTE:</b> Please be careful with wildcards, particularly *! If you want all the Messier objects use Messier* 
          <br>rather than M* as you will get thousands of responses, 
          assuming the query doesn't time out.</p>
          {% if error %}
          <p class="text-danger"><b>ERROR: {{ error }}</b></p>
          {% endif %}
</div>
{% endblock content %}