{% extends "_base.html" %}
{% block title %}All Targets List{% endblock title %}
{% block content %}
<div class="container">

    <h2>Target File Import</h2>

    <table class="table">
        <tr>
            <td>
                <p>Please select a utf-8 CSV file to upload.
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Upload</button>
                </form>
            </td>
            <td>Example format is as follows:</p>
                <p>name,common_name,class,type,ra2000,dec2000,const,magnitude,size<br>
                    m13,Hercules Globular Cluster,DS,Gb,250.421,36.459,Her,5.8,20</p>
                <p>Coords in epoch 2000.0 decimal degrees, Size in arcmin, class is DS<br>
                    Only Deep Sky Objects may currently be imported.</p>
                <p>and type is one of</p>
                Gx = Galaxy
                OC = Open star cluster
                Gb = Globular star cluster, usually in the Milky Way Galaxy<br>
                Nb = Bright emission or reflection nebula
                Pl = Planetary nebula
                C+N = Cluster associated with nebulosity<br>
                Ast = Asterism or group of a few stars
                Kt = Knot or nebulous region in an external galaxy<br>
                *** = Triple star
                D* = Double star
                * = Single star</p>
            </td>
        </tr>
        <tr>
            <td>
                <br>
                <p>Or you can load on a previously prepared database:</p>
                <ul>
                    <li>New General Catalog (NGC2000)</li>
                    <li>Messier Catalog of Objects</li>
                    <li>Caldwell Catalog</li>
                    <li>General Catalog of Variable Stars (GCVS)</li>
                    <li>General Catalog of Exoplanets (exoplanet.eu)</li>
                </ul>
            </td>
        </tr>
</div>
{% endblock content %}