{% extends "_base.html" %}
{% load static %}
{% block title %}All Targets List{% endblock title %}

{% block content %}

<div class="container">
    <br><br>
    <H2>Targets List</H2>
  
    <form method="get" action="{% url 'target_all_list' %}" class="d-flex justify-content-between align-items-center mb-3">
        <button type="button" class="btn btn-primary" onclick="window.location.href='/targets/create/'">Add New Target</button>
        <!-- Centered Search Field -->
        <div class="form-group mx-auto">
            <input 
                type="text" 
                name="search" 
                class="form-control" 
                placeholder="Search by name" 
                value="{{ search_query }}">
        </div>
    
        <!-- Right-Aligned Filter and Button -->
        <div class="d-flex align-items-center">
            <div class="form-group mr-2">
                <select name="targetClass" class="form-control">
                    <option value="">All Classes</option>
                    <option value="DS" {% if target_class_filter == "DS" %}selected{% endif %}>Deep Sky</option>
                    <option value="VS" {% if target_class_filter == "VS" %}selected{% endif %}>Variable Star</option>
                    <!-- Add more classes as needed -->
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
    <table class="table table-dark">
        {% for Target in target_data %}
            {% if forloop.first %}
                <tr><th>Thumbnail</th><th>Object</th><th>Details</th><th>Actions</th></tr>
                {% endif %}    
            <tr><td><img src="{{ Target.targetDefaultThumbnail.url }}" alt="Thumbnail for {{ Target.targetName }}" /></td>
                <td><b>{{ Target.targetName }}</b></td>
                <td><table class="table table-dark">
                    <tr>
                        <tr >
                            <td width="33%">RA: {{ Target.targetRA2000 }}</td>
                            <td width="33%">Dec: {{ Target.targetDec2000 }}</td>
                            <td width="33%">Const: {{ Target.targetConst }}</td>
                        </tr>
                        <tr>
                            <td>Mag: {{ Target.targetMag|floatformat:2 }}</td>
                            <td>SIMBAD Type: {{ Target.targetType }}</td>
                            <td>Class: {{ Target.targetClass }}</td>
                        </tr>
                        <tr>
                            <td>Rise: {{ Target.targetRise }}</td>
                            <td>Transit: {{ Target.targetTransit }}</td>
                            <td>Set: {{ Target.targetSet }}</td>
                        </tr>
                        </table>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'target_update' Target.targetId %}'">Edit</button><br>
                        <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'target_delete' Target.targetId %}'">Delete</button><br>
                        <button type="button" class="btn btn-success" onclick="window.location.href='{% url 'observation_create' Target.targetId Target.targetName %}'">Observe</button>
            {% empty %}
            <p><i>No results found.</i></p>
        {% endfor %}
    </table>
    <p>Note: STSCI images are for a 15arcmin x 15arcmin field of view for all targets.</p>
    </div>

{% endblock content %}