{% extends "_base.html" %}
{% block title %}All Targets List{% endblock title %}
{% block content %}
<div class="target-detail"> 
    <div class="container">
    <br><br>
    <H2>Targets Detail</H2>
    <table class="table table-dark">
        <tr><td>Target Name:</td><td>{{ target.targetName }}</td></tr>
        <tr><td>RA(2000)</td><td>{{ target.targetRA2000 }}</td></tr>
        <tr><td>Dec(2000)</td><td>{{ target.targetDec2000 }}</td></tr>
        <tr><td>Magnitude</td><td>{{ target.targetMag }}</td></tr>
        <tr><td>Target Type</td><td>{{ target.targetType }}</td></tr>
        <tr><td>Target Class</td><td>{{ target.targetClass }}</td></tr>
        <tr><td>Name</td><td>{{ target.targetName }}</td></tr>
        <tr><td>Constellation</td><td>{{ target.targetConst }}</td></tr>
        </table>
    <button type="button" class="btn btn-primary">< </button>
    <A HREF="edit/{{ target.uuid }}"><button type="button" class="btn btn-success">Edit</button></A>
    <A HREF="delete/{{ target.uuid }}"><button type="button" class="btn btn-danger">Delete</button></A>
    <A HREF="{% url 'observation_create' target.targetId %}""><button type="button" class="btn btn-info">Observe</button></A>
    <button type="button" class="btn btn-primary"> ></button>
    </div>
</div>
{% endblock content %}
