{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}All Variable Stars List{% endblock title %}

{% block content %}

<div class="container">
    <br><br>
    <H2>Variable Stars List</H2>
    <form method="get">
        <table class="table table-dark table-sm">
        <tr>
            <td>Const</td><td>{{ form.constellation }}</td>
            <td>Type</td><td>{{ form.variable_type }}</td>
            <td>Max</ts><td>{{ form.max_magnitude }}</td>
            <td>Min</td><td>{{ form.min_magnitude }}</td>
            <td><button class="btn btn-success btn-sm" type="submit">Filter</button></td>
        </tr></table>
    </form>
    <table class="table table-dark table-sm">
    {% for record in vs_records %}
        {% if forloop.first %}
        <tr><th>Name</th><th>Const</th><th>RA 2000</th><th>Dec 2000</th><th>Type</th><th>Hi Mag</th><th>Low Mag</th><th>Epoch</th><th>Period</th><th>Actions</th></tr>
        {% endif %}    
        <tr><td>{{ record.name }}</td>
            <td>{{ record.constellation }}</td>
            <td>{{ record.ra|floatformat:4 }}</td>
            <td>{{ record.dec|floatformat:4 }}</td>
            <td>{{ record.variable_type }}</td>
            <td>{{ record.max_magnitude|floatformat:2 }}</td>
            <td>{{ record.min_magnitude|floatformat:2 }}</td>
            <td>{{ record.epoch|floatformat:2 }}</td>
            <td>{{ record.period|floatformat:2 }}</td>
            <td>
                <button type="button" class="btn btn-success btn-sm" onclick="window.location.href='{% url 'observation_create' record.targetId %}'">Observe</button>
            </td>
        </tr>
        {% endfor %}

    </body>
    </html>
    </div>

{% endblock content %}