{% extends "_base.html" %}
{% block title %}Log Viewer{% endblock title %}

{% block content %}

<br>
<style>
    body, html {
        height: 100%;
        margin: 0;
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .header {
        flex: 0 0 auto;
    }
    .logcontainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
    }
    .log-viewer {
        flex: 1;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        height: calc(100vh - 150px); /* Adjust height to make the log view longer */
    }
    .refresh-button {
        margin: 10px 0;
    }
    .pagination {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }
    .pagination a {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        text-decoration: none;
    }
    .pagination .current {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        background-color: #eee;
    }
</style>

<div class="container"> 
    <div class="header">
        <h2>Log Viewer</h2>
        <p>Note: Log entries in reverse order</p>
        <button class="btn btn-primary refresh-button" onclick="location.reload();">Refresh</button>
    </div>
    <div class="logcontainer"> 
        <div class="log-viewer">
            <pre>{% for line in page_obj %}{{ line|safe }}
{% endfor %}</pre>
        </div>
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="btn btn-secondary" href="?page=1">&laquo; first</a>
            <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-secondary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>

<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}