{% extends "_base.html" %}
{% block title %}110v Power Panel{% endblock title %}
{% block content %}
<div class="container">
    <br><h2>110v Power Panel</h2>
    <div id="sliders">
        {% for i in range %}
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="slider{{ forloop.counter }}" class="slider" data-slider-id="{{ forloop.counter }}">
                <label class="form-check-label" for="slider{{ forloop.counter }}">Port {{ forloop.counter }}</label>
              </div>
            {% endfor %}
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const sliders = document.querySelectorAll('.slider');
    sliders.forEach(slider => {
        slider.addEventListener('change', function() {
            const sliderId = this.getAttribute('data-slider-id');
            const state = this.checked ? 'on' : 'off';
            fetch(`https://KaraPanel.com/api/slider/${sliderId}/state/${state}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ state: state }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    });
});
</script>
{% endblock %}