numpy==1.26
importlib_metadata
astropy
astropy-iers-data
astroquery
crispy-bootstrap5
Django
django-crispy-forms
ephem
pandas
psycopg2-binary
python-dateutil
pytz
requests
tzdata
celery
matplotlib
paramiko
celery 
django-celery-beat
django_celery_results
kombu
flower
pika
kombu
blueskyapi
twilio
setuptools
supervisor
ephem
plotly
astroplan
python-dotenv
django-admin-dracula
xmltodict