numpy==1.26
importlib_metadata
astropy
astropy-iers-data
astroquery==0.4.7
crispy-bootstrap5
Django
django-crispy-forms
ephem
pandas
psycopg2-binary
python-dateutil
pytz
requests
tzdata
celery
matplotlib
paramiko
setuptools
ephem
plotly
astroplan
python-dotenv
django-admin-dracula
xmltodict