/* styles.css */
.hero-section {
    display: flex;

    justify-content: center; /* Horizontally center items */
    height: 100vh; /* Set the desired height for the hero section */
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.slider-container {
    margin-bottom: 15px;
}

.slider-container label {
    margin-right: 10px;
}

body {
    background-color: #96a7b9ce; /* Light gray background */
}