{% extends "_base.html" %}
{% block title %}All Sequences List{% endblock title %}
{% block content %}

<div class="container">
    <br>
    <h2>Fits File Sequences</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Object Name</th>
                <th>Observation Start (UT)</th>
                <th>Telescope</th>
                <th>Imager</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for object_name, sequences in fits_file_sequences %}
              <tr>
                <td>{{ object_name }}</td>
                <td>
                  {% for sequence in sequences %}
                  <a href="{% url 'fits_sequence_detail' sequence.fitsSequenceId %}">{{ sequence.date }}</a><br>
                  {% endfor %}
                </td>
                <td>
                  {% for sequence in sequences %}
                    {{ sequence.telescope }}<br>
                  {% endfor %}
                </td>
                <td>
                  {% for sequence in sequences %}
                    {{ sequence.imager }}<br>
                  {% endfor %}
                </td>
                
              </tr>
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock content %}