{% extends "_base.html" %}
{% block title %}All Sequences List{% endblock title %}
{% block content %}


<div class="container">
    <br>
    <h2>Fits File Sequences</h2>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Object Name</th>
                <th>Observed Dates (UT)</th>
                <th>Telescope</th>
                <th>Imager</th>
            </tr>
        </thead>
        <tbody>
            {% for object_name, sequences in fits_file_sequences %}
              <tr>
                <td>{{ object_name }}</td>
                <td>
                  {% for sequence in sequences %}
                    {{ sequence.date }}<br>
                  {% endfor %}
                </td>
                <td>
                  {% for sequence in sequences %}
                    {{ sequence.telescope }}<br>
                  {% endfor %}
                </td>
                <td>
                  {% for sequence in sequences %}
                    {{ sequence.imager }}<br>
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
    </table>
    <div class="row justify-content-center"></div>
    <div class="pagination">
        <span class="step-links">
            <table class="table table-dark table-responsive">
                <tr>
                    {% if fits_file_sequences.has_previous %}
                    <td><a href="?page=1" style="color: white;">&laquo; first</a></td>
                    <td><a href="?page={{ fits_file_sequences.previous_page_number }}"
                            style="color: white;">previous</a></td>
                    {% endif %}

                    <span class="current">
                        <td>Page {{ fits_file_sequences.number }} of {{ fits_file_sequences.paginator.num_pages }}
                        </td>
                    </span>

                    {% if fits_file_sequences.has_next %}
                    <td><a href="?page={{ fits_file_sequences.next_page_number }}" style="color: white;">next</a></td>
                    <td><a href="?page={{ fits_file_sequences.paginator.num_pages }}" style="color: white;">last
                            &raquo;</a></td>
                    {% endif %}
                </tr>
            </table>

        </span>
    </div>
</div>
</div>
{% endblock %}