{% extends "_base.html" %}
{% block title %}All observations List{% endblock title %}
{% block content %}
<div class="container">
    <br><br>
    <h2>List of FITS Files</h2>
    <form method="get" action="{% url 'list_fits_files' %}">
        <label for="time_filter">Filter by:</label>
        <select name="time_filter" id="time_filter" onchange="this.form.submit()" class="form-select form-select-sm mb-3" aria-label=".form-select-sm example">
            <option value="all" {% if time_filter == 'all' %}selected{% endif %}>All</option>
            <option value="24_hours" {% if time_filter == '24_hours' %}selected{% endif %}>Last 24 Hours</option>
            <option value="7_days" {% if time_filter == '7_days' %}selected{% endif %}>Last 7 Days</option>
            <option value="30_days" {% if time_filter == '30_days' %}selected{% endif %}>Last 30 Days</option>
        </select>
    </form>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Target</th>
                <th>File Type</th>
                <th>File Date</th>
                <th>Exp</th>
                <th>BinX</th>
                <th>BinY</th>
                <th>Temp</th>
                <th>Telescope</th>
                <th>Imager</th>
                <th>Calibrated</th>
                <th>Stacked</th>
            </tr>
        </thead>
        <tbody>
        {% for fits_file in fits_files %}
        <tr>
            
            <td><A HREF="{{ fits_file.get_absolute_url }}">{{ fits_file.display_name }}</A></td>
            <td>{{ fits_file.fitsFileType }}</td>
            <td>{{ fits_file.fitsFileDate }}</td>
            <td>{{ fits_file.fitsFileExpTime}}</td>
            <td>{{ fits_file.fitsFileXBinning }}</td>
            <td>{{ fits_file.fitsFileYBinning }}</td>
            <td>{{ fits_file.fitsFileCCDTemp }}</td>
            <td>{{ fits_file.fitsFileTelescop }}</td>
            <td>{{ fits_file.fitsFileInstrument }}</td>
            <td>{{ fits_file.fitsFileCalibrated }}</td>
            <td>{{ fits_file.fitsFileStacked }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endblock content %}