{% extends "_base.html" %}
{% block title %}All observations List{% endblock title %}
{% block content %}

<div class="container">
    <br><br>
    <H2>All Observations List</H2>
    <table class="table table-dark">
        {% for Observation in observation_list %}
            {% if forloop.first %}
                <tr><th>Target</th><th>Rotation</th><th>Do Not Schedule</th><th>Schedule Once</th><th>Observatory</th><th>Telescope</th><th>Imager</th><th>Sequence</th><th>Duration (s)</th><th>Actions</th></tr>
                {% endif %}    
            <tr><td><b>{{ Observation.targetName }}</b></td>
                <td>{{ Observation.targetPA }}</td>
                <td>{{ Observation.targetInactive }}</td>
                <td>{{ Observation.observeOnce }}</td>
                <td>{{ Observation.observatoryId}}</td>
                <td>{{ Observation.telescopeId}}</td>
                <td>{{ Observation.imagerId }}</td>
                <td>{{ Observation.sequenceFileId.sequenceFileName }}</td>
                <td>{{ Observation.sequenceFileId.sequenceDuration }}</td>
                <td><button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='{% url 'observation_update' Observation.observationId %}'">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='{% url 'observation_delete' Observation.observationId %}">Delete</button>
                </td>
            </tr>
        {% empty %}
            <p><i>No results found.</i></p>
        {% endfor %}
    </table>
    </div>
{% endblock content %}