{% extends "_base.html" %}
{% block title %}All observations List{% endblock title %}
{% block content %}

<div class="container">
    <br><br>
    <H2>All Observations List</H2>
    <table class="table table-dark">
        {% for observation in observation_list %}
            {% if forloop.first %}
                <tr><th>Target</th><th>Rotation</th><th>Inactive</th><th>Observe Once</th><th>Observatory</th><th>Telescope</th><th>Imager</th><th>Status</th></tr>
                {% endif %}    
            <tr><td><A HREF="{{ observation.get_absolute_url }}">{{ observation.targetId }}</A></td>
                <td>{{ observation.targetPA }}</td>
                <td>{{ observation.targetInactive }}</td>
                <td>{{ observation.observeOnce }}</td>
                <td>{{ observation.observatoryId}}</td>
                <td>{{ observation.telescopeId}}</td>
                <td>{{ observation.imagerId }}</td>
                <td>{{ observation.status }}</td>

            </tr>
        {% empty %}
            <p><i>No results found.</i></p>
        {% endfor %}
    </table>
    </div>
{% endblock content %}