{% extends "_base.html" %}
{% block title %}Post Processing Summary{% endblock title %}
{% block content %}
<div class="container">
    <br><br>
    <h2>Post Processing Summary</h2>
    
    <h3>Registered FITS Files ({{ registered_count }})</h3>
    <ul>
        {% for file in registered_files %}
            <li>{{ file.fitsFileObject }} - {{ file.fitsFileDate }} - {{ file.fitsFileType }}</li>
        {% endfor %}
    </ul>
    
    <h3>Light Sequences Created ({{ light_seq_count }})</h3>
    <ul>
        {% for sequence in light_sequences %}
            <li>{{ sequence.fitsSequenceId }} - {{ sequence.fitsSequenceObjectName }}</li>
        {% endfor %}
    </ul>
    
    <h3>Calibration Sequences Created ({{ cal_seq_count }})</h3>
    <ul>
        {% for sequence in cal_sequences %}
            <li>{{ sequence.fitsSequenceId }} - {{ sequence.fitsSequenceName }}</li>
        {% endfor %}
    </ul>
    
    <h3>Calibrated FITS Files ({{ calibrated_count }})</h3>
    <ul>
        {% for file in calibrated_files %}
            <li>{{ file.fitsFileId }} - {{ file.fitsFileName }} - {{ file.fitsFileDate }}</li>
        {% endfor %}
    </ul>

    {% endblock content %}