{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit Schedule{% endblock title %}
{% block content %}
<br><div class="container">
    <h2>Edit Schedule</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex">
            <button type="submit" class="btn btn-primary mr-2">Save</button>
            <form method="post" action="{% url 'schedule_delete' object.pk %}" class="mr-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <form method="post" action="{% url 'schedule_regen' object.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">(Re)Generate</button>
            </form>
        </div>
    </form>
</div>
{% endblock content %}