{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Schedules List{% endblock title %}
{% block content %}
<div class="container">
    <br><br>
    <H2>Schedules</H2>
    <a href="{% url 'schedule_create' %}" class="btn btn-primary">Create Schedule</a>
    <table class="table table-dark">
        {% for schedule in scheduleMaster_list %}
            {% if forloop.first %}
                <tr><th>Date</th><th>Observatory</th><th>Telescope</th><th>Imager</th></tr>
                {% endif %}    
            <tr><td><a href="{% url 'schedule_edit' schedule.pk %}">{{ schedule.scheduleDate }}</a></td></td>
                <td>{{ schedule.observatoryId }}</td>
                <td>{{ schedule.telescopeId }}</td>
                <td>{{ schedule.imagerId }}</td>
            </tr>
        {% empty %}
            <p><i>No results found.</i></p>
        {% endfor %}
    </table>
    </div>
{% endblock content %}