{% extends "_base.html" %}
{% block title %}All observations List{% endblock title %}
{% block content %}

<div class="container">
    <br><br>
  <h2>Sequences</h2>
  <a href="{% url 'sequence_file_create' %}"><button type="button" class="btn btn-primary btn-sm">Add New</button></a>
  <table class="table table-dark">
    {% for sequence in sequences %}
        {% if forloop.first %}
            <tr><th>Name</th><th>Contents</th><th>Duration</th><th></th></tr>
            {% endif %}    
        <tr><td><a href="{% url 'sequence_file_edit' sequence.pk %}">{{ sequence.sequenceFileName }}</a></td>
            <td>{{ sequence.sequenceData }}</td>
            <td>{{ sequence.sequenceDuration }}</td>
            <td>
              <A HREF="edit/{{ sequenceFile.sequenceFileId }}"><button type="button" class="btn btn-success btn-sm">&nbsp;&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp;</button></A>
              <A HREF="delete/{{ sequenceFile.sequenceFileId }}"><button type="button" class="btn btn-danger btn-sm">&nbsp;Delete&nbsp;</button></A>
              <button type="button" class="btn btn-info btn-sm">Edit Seq</button></td>
            </tr>
    {% empty %}
        <p><i>No results found.</i></p>
    {% endfor %}

</table>
</div>
{% endblock content %}