{% extends "_base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
  <h1>About Obsy</h1>
  <p>Obsy is a complete automated observatory control system for Linux. It is reliant on the INDI protocol for telescope, mount, and observatory control and makes heavy
    use of KStars and EKOS for endpoint device operation. The primary role of Obsy is to provide a facility for the end user to specify the targets that 
    require data collection, manage the collection of that data, and present the results to the user.
  </p>
  <H2>Pre-requisites</H2>
  <p>Before implementing Obsy the user should have a fully implemented automated observatory running under Linux and INDI. Obsy feeds schedules into EKOS so 
    something isn't working in EKOS scheduled jobs under Obsy won't complete. 
  </p>  
  <H2>Current Status</H2>
  <p>Currently in development with no release candidate.</p>
  <H2>To Do</H2>
  <p>The following tasks are outstanding:</p>
  <ul>
    <li>Target subsystem - Allows the user to specify targets and class them in accordance with the processing needed to create usable data. Categories are:
      <ul>
        <li>Variable stars - cadence and capture information, AAVSO integration for comparison stars to enable automated differential photometry</li>
        <li>Astrophotography - capture and post-processing information</li>
        <li>Occultations - capture and processing information for singular events</li>
        <li>Exoplanet Transits - capture and processing information for repeating transit events</li>
      </ul>
    </li>
    <li>Schedule subsystem</li>
    <li>Results subsystem - As data is collected the artifacts are cataloged by the Results subsystem and matched against schedule tasks to determine whether
      the task is complete. This subsystem also displays results to the user and if configured sends notifications to email, text, Twitter, etc.
    </li>
    <li>Executive subsystem - this is a module that resides on an INDI server and does the actual execution of the job list created by the scheduler, 
      creating XML files for the EKOS Scheduler and Camera modules and using DBUS to invoke EKOS to run the nightly schedule.</li>
  </ul>
  <p>Currently in development with no release candidate.</p>
  <H2>Technical information</H2>
  <p>Obsy is developed in Python under the Django web framework deployed via Docker. Source code is located on Github at:</p>
  <A HREF="https://github.com/gordtulloch/obsy">https://github.com/gordtulloch/obsy</A>
{% endblock content %}