{% extends "_base.html" %}
{% block title %}Imager List{% endblock title %}
{% block content %}

<div class="container">
    <br><br>
    <h2>Imager List</h2>
    <table class="table table-striped">
        {% for imager in imager_list %}
            {% if forloop.first %}
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Pixels</th>
                        <th>Pixel Size</th>
                    </tr>
                </thead>
                <tbody>
            {% endif %}
            <tr>
                <td><a href="{{ imager.get_absolute_url }}">{{ imager.name }}</a></td>
                <td>{{ imager.imagerType }}</td>
                <td>{{ imager.xDim }} x {{ imager.yDim }}</td>
                <td>{{ imager.xPixelSize }} x {{ imager.yPixelSize }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3"><i>No imagers found.</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}